body{
    background-color: #404040;
}
.navBar{
    border-top: 1px solid #404040;
}
.navBar a:hover{
    background-color: #404040;
    color: cornflowerblue;
}
.userBar{
    background-color: #404040;
    color: white;
}