<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>CalendarApp</title>
    <link rel="stylesheet" type="text/css" href="/styles/calendar-list.css">
</head>
<body>

    <!--Wylogowywanie-->
    <div class="userBar" sec:authorize="isAuthenticated()">
        <div class="bar">
            <span>Użytkownik:</span>
            <p sec:authentication="name"></p>
            <form method="POST" th:action="@{/logout}">
                <input class="logout" type="submit" value="Wyloguj">
            </form>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="header">
        <h1>CalendarApp</h1>
    </div>

    <div class="navBar">
        <div class="nav">
            <a th:href="@{/}">Strona główna</a>
            <a th:href="@{/calendar/list}">Kalendarze</a>
            <a th:href="@{/notes/list}">Lista notek</a>
        </div>
    </div>

    <div class="calendarHeader">
        <p class="title">Kalendarze</p>
    </div>

    <div class="container">

        <!--Dodaj nowy kalendarz-->
        <div class="calendar" th:onclick="modal()">
            <p>Nowy kalendarz</p>
            <!--Okno modalne-->
            <div class="modal" id="modal">
                <!--Zawartość okna modalnego-->
                <div class="modalContent">
                    <!--Nagłówek okna modalnego-->
                    <div class="modalHeader">
                        <h2>Nowy kalendarz</h2>
                    </div>
                    <!--Ciało okna modalnego-->
                    <div class="modalBody">
                        <!--Formularz dodający nowy kalendarz-->
                        <form method="POST" th:action="@{/calendar/add}" th:object="${dbCalendar}">
                            <div class="formInputs">
                                <label for="title">Nazwa kalendarza</label>
                                <input id="title" type="text" th:field="*{title}">
                            </div>
                            <div style="clear: both"></div>
                            <input type="submit" value="Dodaj">
                            <input type="reset" value="Resetuj">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Wyświetl kalendarze użytkownika-->
        <form method="POST" th:each="dbcalendar : ${calendars}" th:action="@{/calendar/setCalendarId}" onclick="this.submit()">
            <input id="calendarId" type="hidden" th:value="${dbcalendar.id}" name="calendarId">
            <div class="calendar">
                <p th:text="${dbcalendar.title}"></p>
            </div>
        </form>
        <div style="clear: both;"></div>

    </div>
    <script type="text/javascript" src="/js/calendar-list.js"></script>
</body>
</html>

















