<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <title>CalendarApp</title>
    <link rel="stylesheet" type="text/css" th:href="${#themes.code('styleSheet')}">
    <link rel="stylesheet" type="text/css" href="/styles/calendar.css">
    <link rel="stylesheet" type="text/css" href="/fontello/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>

    <!--Pasek górny-->
    <div class="userBar">
        <form class="themeForm" method="POST" th:action="@{/theme}" name="themeForm" id="themeForm">
            <span>Preferencje:</span>
            <select id="theme" name="theme" onchange="submitThemeForm()">
                <option value="" disabled selected>Wybierz motyw</option>
                <option value="light">Jasny</option>
                <option value="dark">Ciemny</option>
            </select>
        </form>
        <div class="bar" sec:authorize="isAuthenticated()">
            <script type="text/javascript">connect()</script>
            <a th:href="@{/messages}">Wiadomosci</a>
            <span>| Użytkownik:</span>
            <a sec:authentication="name" th:href="@{/user}"></a>
            <form method="POST" th:action="@{/logout}">
                <input class="redInputButton" type="submit" value="Wyloguj" onclick="disconnect()">
            </form>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="header">
        <h1>CalendarApp</h1>
    </div>

    <div class="navBar">
        <div class="nav">
            <a th:href="@{/}">Strona główna</a>
            <a th:href="@{/calendar/list}">Kalendarze</a>
            <a th:href="@{/notes/list}">Lista notek</a>
        </div>
    </div>

    <div class="contentHeader">
        <p class="title" th:text="${calendar.year}"></p>
        <p class="title" style="font-size: 20px;" th:text="${calendar.monthName}"></p>
    </div>

    <div class="container">

        <!-- Edytuj kalendarz -->
        <a class="greenHyperlinkButton" th:href="@{/calendar/editCalendar}">Edytuj kalendarz</a>

        <!--    Nagłówek kalendarza z nazwami dni    -->
        <div class="calendar">
            <div class="dayName">Poniedziałek</div>
            <div class="dayName">Wtorek</div>
            <div class="dayName">Środa</div>
            <div class="dayName">Czwartek</div>
            <div class="dayName">Piątek</div>
            <div class="dayName">Sobota</div>
            <div class="dayName">Niedziela</div>
            <div style="clear: both;"></div>
        </div>

        <!--Kalendarz-->
        <div class="calendar">

            <!--Generowanie pustych pól-->
            <div class="blankDay" th:if="${calendar.dayOfWeek>1}" th:each="i : ${#numbers.sequence(1,(calendar.dayOfWeek)-1)}"></div>

            <!--Generowanie pól z dniami-->
            <form method="POST" th:each="i : ${#numbers.sequence(1,calendar.daysInMonth)}" th:action="@{/calendar/setDayNumber}" onclick="this.submit()">
                <input id="dayNumber" type="hidden" th:value="${i}" name="dayNumber">
                <div class="day" th:inline="text">
                    [[${i}]]
                    <!--Wyświetlanie notek w polu dnia-->
                    <div class="miniNote" th:each="note : ${calendar.notes}" th:if="${note.date.isEqual(#temporals.create(calendar.year,calendar.month,i))}" th:text="${note.title}"></div>
                </div>
            </form>
            <div style="clear: both;"></div>
        </div>

        <!--Przejście do następnego miesiąca-->
        <a class="next" href="/calendar/next"><i class="icon-right-open"></i></a>
        <!--Przejście do poprzedniego miesiąca-->
        <a class="previous" href="/calendar/previous"><i class="icon-left-open"></i></a>

    </div>

    <div id="wsMessage">
        <p id="wsMessageTitle"></p>
        <form id="wsMessageForm" method="POST" th:action="@{/}">
            <p id="wsMessageContent"></p>
        </form>
    </div>

    <div th:if="${#request.getAttribute('noCookieConsent')}" class="cookieConsent">
        <p>Strona używa plików cookie.</p>
        <a th:href="@{/setCookie}" class="greenButton">OK</a>
        <div style="clear: both;"></div>
    </div>

</body>
</html>