<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <title>KanbanCalendar</title>
    <link rel="stylesheet" type="text/css" th:href="${#themes.code('styleSheet')}">
    <link rel="stylesheet" type="text/css" href="/styles/home.css">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>

    <!--Pasek górny-->
    <div class="userBar">
        <form class="themeForm" method="POST" th:action="@{/theme}" name="themeForm" id="themeForm">
            <span th:text="#{lang.preferences}"></span>
            <select id="theme" name="theme" onchange="submitThemeForm()">
                <option value="" th:text="#{lang.chooseTheme}" disabled selected></option>
                <option value="light" th:text="#{lang.lightTheme}"></option>
                <option value="dark" th:text="#{lang.darkTheme}"></option>
            </select>
        </form>
        <div class="bar" sec:authorize="isAuthenticated()">
            <script type="text/javascript">connect()</script>
            <a th:href="@{/messages}" th:text="#{lang.messages}"></a>
            <span th:inline="text">| [[#{lang.user}]]:</span>
            <a sec:authentication="name" th:href="@{/user}"></a>
            <form method="POST" th:action="@{/logout}">
                <input class="redInputButton" type="submit" th:value="#{lang.logOut}" onclick="disconnect()">
            </form>
            <div style="clear: both;"></div>
        </div>
        <div class="barLogin" sec:authorize="!isAuthenticated()">
            <a class="greenHyperlinkButton" th:href="@{/login}" th:text="#{lang.logging}"></a>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="header">
        <h1>KanbanCalendar</h1>
    </div>

    <div class="navBar">
        <div class="nav">
            <a th:href="@{/}" th:text="#{lang.mainPage}"></a>
            <a th:href="@{/calendar/list}" th:text="#{lang.calendars}"></a>
            <a th:href="@{/notes/list}" th:text="#{lang.noteList}"></a>
        </div>
    </div>

    <div class="contentHeader">
        <p class="title" th:text="#{lang.mainPage}"></p>
    </div>

    <div class="container">

        <div class="centralContainer" style="width: 60%">
            <p class="hello" th:text="#{lang.greeting}"></p>
            <p th:text="#{lang.appInfo}"></p>
        </div>

        <div class="centralContainer">
            <a th:href="@{/user/register}">
                <div class="largeLinkBox">
                    <p th:text="#{lang.register}" class="large"></p>
                    <p th:text="#{lang.registerInfo}" class="normal"></p>
                </div>
            </a>

            <a th:href="@{/login}">
                <div class="largeLinkBox">
                    <p th:text="#{lang.logging}" class="large"></p>
                    <p th:text="#{lang.loggingInfo}" class="normal"></p>
                </div>
            </a>
            <div style="clear: both;"></div>
        </div>

    </div>

    <div id="wsMessage">
        <p id="wsMessageTitle"></p>
        <form id="wsMessageForm" method="POST" th:action="@{/}">
            <p id="wsMessageContent"></p>
        </form>
    </div>

    <div th:if="${#request.getAttribute('noCookieConsent')}" class="cookieConsent">
        <p th:text="#{lang.cookies}"></p>
        <a th:href="@{/setCookie}" class="greenHyperlinkButton">OK</a>
        <div style="clear: both;"></div>
    </div>

    <div class="footer">
        <p th:text="#{lang.footer}"></p>
    </div>

</body>
</html>