<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <title>KanbanCalendar</title>
    <link rel="stylesheet" type="text/css" th:href="${#themes.code('styleSheet')}">
    <link rel="stylesheet" type="text/css" href="/styles/register.css">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>

    <!--Pasek górny-->
    <div class="userBar">
        <form class="themeForm" method="POST" th:action="@{/theme}" name="themeForm" id="themeForm">
            <span th:text="#{lang.preferences}"></span>
            <select id="theme" name="theme" onchange="submitThemeForm()">
                <option value="" th:text="#{lang.chooseTheme}" disabled selected></option>
                <option value="light" th:text="#{lang.lightTheme}"></option>
                <option value="dark" th:text="#{lang.darkTheme}"></option>
            </select>
        </form>
        <div class="bar" sec:authorize="isAuthenticated()">
            <script type="text/javascript">connect()</script>
            <a th:href="@{/messages}" th:text="#{lang.messages}"></a>
            <span th:inline="text">| [[#{lang.user}]]:</span>
            <a sec:authentication="name" th:href="@{/user}"></a>
            <form method="POST" th:action="@{/logout}">
                <input class="redInputButton" type="submit" th:value="#{lang.logOut}" onclick="disconnect()">
            </form>
            <div style="clear: both;"></div>
        </div>
        <div class="barLogin" sec:authorize="!isAuthenticated()">
            <a class="greenHyperlinkButton" th:href="@{/login}" th:text="#{lang.logging}"></a>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="header">
        <h1>KanbanCalendar</h1>
    </div>

    <div class="navBar">
        <div class="nav">
            <a th:href="@{/}" th:text="#{lang.mainPage}"></a>
            <a th:href="@{/calendar/list}" th:text="#{lang.calendars}"></a>
            <a th:href="@{/notes/list}" th:text="#{lang.noteList}"></a>
        </div>
    </div>

    <div class="contentHeader">
        <p class="title" th:text="#{lang.register}"></p>
    </div>

    <div class="container">

        <div class="registerForm">

            <form method="POST" th:action="@{/user/add}" th:object="${register}" novalidate>
                <div class="formInputs">
                    <label for="username" th:text="#{lang.username}"></label>
                    <input id="username" type="text" th:field="*{username}">
                    <div class="error">
                        <span class="tooltip" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    </div>
                </div>
                <div class="formInputs">
                    <label for="password" th:text="#{lang.password}"></label>
                    <input id="password" type="password" th:field="*{password}">
                    <div class="error">
                        <span class="tooltip" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    </div>
                </div>
                <div class="formInputs">
                    <label for="confirm" th:text="#{lang.repeatPassword}"></label>
                    <input id="confirm" type="password" th:field="*{matchPassword}">
                    <div class="error">
                        <span class="tooltip" th:if="${#fields.hasErrors('matchPassword')}" th:errors="*{matchPassword}"></span>
                    </div>
                </div>
                <div class="formInputs">
                    <label for="email">Email</label>
                    <input id="email" type="email" th:field="*{email}">
                    <div class="error">
                        <span class="tooltip" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                </div>
                <div class="formInputs">
                    <label for="timezone" th:text="#{lang.timezone}"></label>
                    <select id="timezone" name="timezone" th:field="*{timezone}">
                        <option th:each="zone : ${zones}" th:value="${zone}" th:text="${zone}"></option>
                    </select>
                </div>
                <input class="greenInputButton" type="submit" th:value="#{lang.signIn}">
                <input class="redInputButton" type="reset" th:value="#{lang.reset}">
                <div style="clear: both"></div>
            </form>
            <a href="/login" th:text="#{lang.loginReturn}"></a>

        </div>

    </div>

    <div id="wsMessage">
        <p id="wsMessageTitle"></p>
        <form id="wsMessageForm" method="POST" th:action="@{/}">
            <p id="wsMessageContent"></p>
        </form>
    </div>

    <div th:if="${#request.getAttribute('noCookieConsent')}" class="cookieConsent">
        <p th:text="#{lang.cookies}"></p>
        <a th:href="@{/setCookie}" class="greenButton">OK</a>
        <div style="clear: both;"></div>
    </div>

</body>
</html>
