<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <title>CalendarApp</title>
    <link rel="stylesheet" type="text/css" th:href="${#themes.code('styleSheet')}">
    <link rel="stylesheet" type="text/css" href="/styles/update-calendar.css">
    <link rel="stylesheet" type="text/css" href="/styles/websocket.css">
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
</head>
<body>

    <!--Pasek górny-->
    <div class="userBar">
        <form class="themeForm" method="POST" th:action="@{/theme}" name="themeForm" id="themeForm">
            <span>Preferencje:</span>
            <select id="theme" name="theme" onchange="submitThemeForm()">
                <option value="" disabled selected>Wybierz motyw</option>
                <option value="light">Jasny</option>
                <option value="dark">Ciemny</option>
            </select>
        </form>
        <div class="bar" sec:authorize="isAuthenticated()">
            <script type="text/javascript">connect()</script>
            <a th:href="@{/messages}">Wiadomości</a>
            <span>| Użytkownik:</span>
            <a sec:authentication="name" th:href="@{/user}"></a>
            <form method="POST" th:action="@{/logout}">
                <input class="logout" type="submit" value="Wyloguj" onclick="disconnect()">
            </form>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="header">
        <h1>CalendarApp</h1>
    </div>

    <div class="navBar">
        <div class="nav">
            <a th:href="@{/}">Strona główna</a>
            <a th:href="@{/calendar/list}">Kalendarze</a>
            <a th:href="@{/notes/list}">Lista notek</a>
        </div>
    </div>

    <div class="calendarHeader">
        <p class="title">Edytuj kalendarz</p>
    </div>

    <div class="container">

        <!-- Przejście do dodawania użytkowników do kalendarza -->
        <a class="editCalendarUserButton" th:href="@{/calendar/editCalendarUser}">Użytkownicy</a>

        <div class="editCalendarForm">

            <!--Formularz edytujący kalendarz-->
            <p>Edytuj kalendarz</p>
            <hr>
            <form method="POST" th:action="@{/calendar/update}" th:object="${updateCalendar}">
                <input id="idEdit" type="hidden" th:field="*{id}">
                <div class="formInputs">
                    <label for="titleEdit">Tytuł</label>
                    <input id="titleEdit" type="text" th:field="*{title}">
                </div>
                <input class="save" type="submit" value="Zapisz">
                <input class="reset" type="reset" value="Resetuj">
                <div style="clear: both"></div>
            </form>
            <!--Powrót do szczegółów dnia-->
            <a th:href="@{/calendar}">Powrót do kalendarza</a>

        </div>

    </div>

    <div id="wsMessage">
        <p id="wsMessageTitle"></p>
        <form id="wsMessageForm" method="POST" th:action="@{/messages/goToNote}">
            <p id="wsMessageContent">Nadchodzące wydarzenie: <span id="goToNote" onclick="goToNote()"></span></p>
        </form>
        <p id="wsMessageDate">Data: <span class="bold" id="eventDate"></span></p>
        <p id="wsMessageTime">Godzina: <span class="bold" id="eventTime"></span></p>
        <button class="remindLaterButton" onclick="remindLater()">Przypomnij później</button>
    </div>

</body>
</html>