.container{
    position: relative;
}
.calendar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    width: 730px;
}
.calendar a{
    color: black;
}
.calendar ~ .calendar{
    margin-top: 0;
}
.calendar:last-of-type{
    margin-bottom: 20px;
}
.dayName{
    padding: 5px;
    background-color: grey;
    float: left;
    width: 95px;
    height: 20px;
    text-align: center;
    margin: -1px 0 0 -1px;
}
.day{
    padding: 5px;
    background-color: grey;
    float: left;
    width: 93px;
    height: 93px;
    border: 1px solid black;
    margin: -1px 0 0 -1px;
    cursor: pointer;
    overflow: hidden;
    column-width: 93px;
}
.day:hover{
    background-color: #737373;
}
.miniNote{
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 4px;
    max-width: 80px;
    max-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    break-inside: avoid;
}
.blankDay{
    padding: 5px;
    background-color: darkgrey;
    float: left;
    width: 95px;
    height: 95px;
    margin: -1px 0 0 -1px;
}
.greenHyperlinkButton{
    margin-bottom: 5px;
    margin-right: 5px;
}
.container hr{
    margin-top: 8px;
    border: none;
    height: 1px;
    background-color: grey;
}
@media only screen and (min-width: 1400px){
    .next{
        position: absolute;
        top: 50%;
        right: -100px;
        color: grey;
    }
    .previous{
        position: absolute;
        top: 50%;
        left: -100px;
        color: grey;
    }
}
@media only screen and (max-width: 1400px){
    .next{
        position: absolute;
        top: 50%;
        right: -80px;
        color: grey;
    }
    .previous{
        position: absolute;
        top: 50%;
        left: -80px;
        color: grey;
    }
}