.container{
    position: relative;
}
.calendar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 730px;
}
.calendar ~ .calendar{
    margin-top: 0;
}
.dayName{
    padding: 5px;
    background-color: grey;
    float: left;
    width: 95px;
    height: 20px;
    text-align: center;
    margin: -1px 0 0 -1px;
}
.day{
    padding: 5px;
    background-color: grey;
    float: left;
    width: 93px;
    height: 93px;
    border: 1px solid black;
    margin: -1px 0 0 -1px;
    cursor: pointer;
    overflow: hidden;
    column-width: 93px;
}
.day:hover{
    background-color: #737373;
}
.miniNote{
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    max-width: 80px;
    max-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    break-inside: avoid;
}
.blankDay{
    padding: 5px;
    background-color: darkgrey;
    float: left;
    width: 95px;
    height: 95px;
    margin: -1px 0 0 -1px;
}
.next{
    position: fixed;
    top: 50%;
    right: 50px;
    color: grey;
}
.previous{
    position: fixed;
    top: 50%;
    left: 50px;
    color: grey;
}
.greenHyperlinkButton{
    margin-bottom: 5px;
    margin-right: 5px;
    display: block;
    width: 100px;
}