.calendar{
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: grey;
    cursor: pointer;
    float: left;
    min-height: 100px;
    margin: 5px;
}
.calendar p{
    text-align: center;
    padding: 15px;
}
.calendar:hover{
    background-color: #737373;
}