/* Wspólne */

body{
    margin: 0 0 50px 0;
}
.userBar{
    width: 100%;
    height: 35px;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
}
.bar, .barLogin{
    position: absolute;
    right: 5px;
}
.themeForm{
    position: absolute;
    left: 5px;
}
.themeForm select{
    height: 25px;
}
.bar form, .bar a, .barLogin a{
    float: left;
}
.bar a{
    margin: 3px 5px 0 5px;
}
.bar span{
    display: block;
    margin: 3px 0 0 0;
    float: left;
}
.redInputButton{
    text-decoration: none;
    color: white;
    background-color: firebrick;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.redInputButton:hover{
    background-color: #d62929;
    cursor: pointer;
}
.greenInputButton{
    text-decoration: none;
    color: white;
    background-color: seagreen;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.greenInputButton:hover{
    background-color: #39ac6b;
    cursor: pointer;
}
.yellowInputButton{
    text-decoration: none;
    color: white;
    background-color: darkgoldenrod;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.yellowInputButton:hover{
    background-color: #d99f0d;
    cursor: pointer;
}
.redHyperlinkButton{
    text-decoration: none;
    color: white;
    background-color: firebrick;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font: 400 13.3333px Arial;
}
.redHyperlinkButton:hover{
    background-color: #d62929;
    cursor: pointer;
}
.greenHyperlinkButton{
    text-decoration: none;
    color: white;
    background-color: seagreen;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font: 400 13.3333px Arial;
}
.greenHyperlinkButton:hover{
    background-color: #39ac6b;
    cursor: pointer;
}
.yellowHyperlinkButton{
    text-decoration: none;
    color: white;
    background-color: darkgoldenrod;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font: 400 13.3333px Arial;
}
.yellowHyperlinkButton:hover{
    background-color: #d99f0d;
    cursor: pointer;
}
.greyHyperlinkButton{
    text-decoration: none;
    color: white;
    background-color: #707070;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font: 400 13.3333px Arial;
}
.greyHyperlinkButton:hover{
    background-color: gray;
    cursor: pointer;
}
.header{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.navBar{
    font-family: 'Lato', sans-serif;
    margin: 0 auto 10px auto;
    background-color: cornflowerblue;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.nav{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.navBar a{
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contentHeader{
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: darkgray;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.title{
    font-size: 40px;
    text-align: center;
    margin: 0;
}
.container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: darkgray;
    padding: 10px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.formInputs{
    margin-bottom: 5px;
}
input, label{
    display: block;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.footer p{
    margin: 5px;
}

/* WebSocket */

@keyframes blink {
    0% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,1);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,1);
        box-shadow: 0 0 15px 1px rgba(0,0,0,1);}
    10% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.9);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.9);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.9);}
    20% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.8);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.8);}
    30% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.7);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.7);}
    40% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);}
    50% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);}
    60% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);}
    70% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.3);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.3);}
    80% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);}
    90% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);}
    100% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0);}
}
#wsMessage{
    display: none;
    position: fixed;
    padding: 5px;
    bottom: -160px;
    right: 10px;
    width: 220px;
    height: 160px;
    background-color: darkgray;
    border-radius: 5px;
    animation: blink 1s infinite;
}
#wsMessage:hover{
    animation: none;
}
#wsMessage p{
    margin-bottom: 0;
    margin-top: 5px;
}
.wsMessageData{
    margin-left: 10px;
}
#wsMessageTitle{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#wsMessageContent{
    text-align: center;
    margin-left: 10px;
}
#wsMessageLinkText{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
#wsMessageLinkText:hover{
    color: #3377ff;
}
.bold{
    font-weight: bold;
}
.remindLaterButton{
    text-decoration: none;
    color: white;
    background-color: #707070;
    padding: 5px;
    border-radius: 5px;
    border: none;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.remindLaterButton:hover{
    background-color: gray;
    cursor: pointer;
}

/* Cookies */

.greenButton{
    text-decoration: none;
    color: white;
    background-color: seagreen;
    padding: 5px;
    border-radius: 5px;
    display: block;
    font: 400 13.3333px Arial;
}
.greenButton:hover{
    background-color: #39ac6b;
    cursor: pointer;
}
.cookieConsent{
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px;
}
.cookieConsent p{
    display: block;
    float: left;
    margin-top: 3px;
    margin-bottom: 0;
}
.cookieConsent a{
    display: block;
    float: left;
    width: 30px;
    text-align: center;
    margin-left: 5px;
}