.message{
    padding: 10px;
    background-color: grey;
    margin-bottom: 2px;
}
.message p{
    margin: 0;
}
.messages{
    padding: 5px 10px;
}
.messages > p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1px;
}
.messages hr{
    margin-top: 0;
    border: none;
    height: 1px;
    background-color: black;
}
.noMessages{
    text-align: center;
}
.greenHyperlinkButton{
    width: 52px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}
.redHyperlinkButton{
    width: 44px;
    margin-top: 5px;
    float: left;
}