.note{
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    float: left;
    min-width: 100px;
    min-height: 100px;
}
.noteHeader{
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid lightcyan;
    position: relative;
}
.noteBody{
    padding: 5px;
}
.greenHyperlinkButton{
    width: 70px;
    margin-left: 5px;
    margin-top: 5px;
}
.noNotes{
    text-align: center;
}
#calendarForm{
    margin: 5px 0 5px 0;
}