.note{
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    margin-bottom: 5px;
}
.noteHeader{
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid lightcyan;
    position: relative;
}
.noteBody{
    padding: 5px;
}
.day{
    padding: 5px 10px;
}
.taskGridWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 730px;
}
.taskGrid{
    float: left;
    margin: 5px;
    width: 230px;
}
.taskGrid p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1px;
}
.taskGrid hr{
    margin-top: 0;
    border: none;
    height: 1px;
    background-color: black;
}
.status{
    text-align: left;
    margin-top: 0;
    margin-bottom: 1px;
}
.deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    color: #2e2ed1;
}
.deleteButton:hover{
    color: #2525a7;
}
.editButton{
    position: absolute;
    top: 0;
    right: 25px;
    color: #2e2ed1;
}
.editButton:hover{
    color: #2525a7;
}
.tooltip{
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    right: -30px;
    background-color: grey;
    color: white;
    text-align: center;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
}
.icon-cancel .tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}
.icon-cancel:hover .tooltip{
    visibility: visible;
}
.icon-pencil .tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}
.icon-pencil:hover .tooltip{
    visibility: visible;
}
.greenHyperlinkButton{
    width: 72px;
    margin-bottom: 5px;
    float: left;
}
.greyHyperlinkButton{
    width: 74px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}