.container{
    min-height: 500px;
}
.note{
    padding: 5px;
    background-color: lightblue;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 229px;
    min-height: 100px;
    cursor: grab;
    float: left;
}
.note:active{
    cursor: grabbing;
}
.noteHeader{
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid lightcyan;
    position: relative;
}
.noteBody{
    padding: 5px;
}
.day{
    padding: 5px 10px;
}
.taskGridWrapper{
    margin: 13px auto 15px auto;
    width: 100%;
    min-height: 400px;
}
.taskGrid p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 1px;
}
.taskGrid hr{
    margin-top: 0;
    border: none;
    height: 1px;
    background-color: black;
}
.status{
    text-align: left;
    margin-top: 0;
    margin-bottom: 1px;
}
.deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    color: #2e2ed1;
}
.deleteButton:hover{
    color: #2525a7;
}
.editButton{
    position: absolute;
    top: 0;
    right: 25px;
    color: #2e2ed1;
}
.editButton:hover{
    color: #2525a7;
}
.tooltip{
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    right: -30px;
    background-color: grey;
    color: white;
    text-align: center;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
}
.icon-cancel .tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}
.icon-cancel:hover .tooltip{
    visibility: visible;
}
.icon-pencil .tooltip::after{
    content: "";
    position: absolute;
    top: 100%;
    right: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
}
.icon-pencil:hover .tooltip{
    visibility: visible;
}
.greenHyperlinkButton{
    width: 72px;
    margin-bottom: 5px;
    float: left;
}
.greyHyperlinkButton{
    width: 74px;
    margin-bottom: 5px;
    margin-right: 5px;
    float: left;
}
.day > hr{
    margin-top: 8px;
    border: none;
    height: 1px;
    background-color: grey;
}
@media only screen and (min-width: 1550px){
    .taskGrid{
        float: left;
        margin: 5px;
        width: 32.5%;
        min-height: 400px;
    }
}
@media only screen and (max-width: 1550px) and (min-width: 970px){
    .taskGrid{
        float: left;
        margin: 5px;
        width: 32%;
        min-height: 400px;
    }
}
@media only screen and (max-width: 970px){
    .taskGrid{
        margin: 5px auto 5px auto;
        width: 100%;
        min-height: 400px;
    }
}