.container{
    position: relative;
}
.editCalendarForm{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
.editCalendarForm p{
    text-align: center;
    margin-bottom: 1px;
}
.editCalendarForm hr{
    margin-top: 0;
    border: none;
    height: 1px;
    background-color: black;
}
.editCalendarForm form{
    margin-bottom: 5px;
}
.editCalendarForm form > input{
    display: block;
    float: left;
    margin: 5px 5px 0 0;
}
.greenHyperlinkButton{
    width: 74px;
    margin-bottom: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.noPrivileges{
    margin-bottom: 10px !important;
}