body{
    margin: 0;
}
.header{
    width: 100%;
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
}
.calendarHeader{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
}
.container{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.7);
    position: relative;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-size: 50px;
    text-align: center;
    margin: 0;
}
.addUserForm{
    padding: 5px 10px;
}
.formInputs{
    margin-bottom: 5px;
}
.userGrid{
    float: left;
    margin: 20px 5px 5px 5px;
    width: 570px;
}
.userGrid p{
    text-align: center;
    margin-bottom: 1px;
}
.userGrid hr{
    margin-top: 0;
    border: none;
    height: 1px;
    background-color: black;
}
.userGrid form{
    margin-bottom: 5px;
}
.userGrid form > input{
    display: block;
    float: left;
    margin: 5px 5px 0 0;
}
.user{
    padding: 5px;
    background-color: grey;
    float: left;
    text-align: center;
    margin-bottom: 2px;
    min-width: 500px;
}
.user p{
    margin: 0;
}
.userAdd{
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}
input, label{
    display: block;
}
.search{
    text-decoration: none;
    color: white;
    background-color: seagreen;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.search:hover{
    background-color: #39ac6b;
    cursor: pointer;
}
.reset{
    text-decoration: none;
    color: white;
    background-color: firebrick;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.reset:hover{
    background-color: #d62929;
    cursor: pointer;
}
.navBar{
    margin: 0 auto 10px auto;
    background-color: cornflowerblue;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.nav{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.navBar a{
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.userBar{
    width: 100%;
    height: 25px;
    padding: 5px;
    position: relative;
}
.bar{
    position: absolute;
    right: 15px;
}
.themeForm{
    position: absolute;
    left: 5px;
}
.themeForm select{
    height: 25px;
}
.bar form, .bar a{
    float: left;
}
.bar a{
    margin: 3px 5px 0 5px;
}
.bar span{
    display: block;
    margin: 3px 0 0 0;
    float: left;
}
.logout{
    text-decoration: none;
    color: white;
    background-color: firebrick;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.logout:hover{
    background-color: #d62929;
    cursor: pointer;
}
.editCalendarButton{
    text-decoration: none;
    color: white;
    background-color: seagreen;
    padding: 5px;
    border-radius: 5px;
    display: block;
    font: 400 13.3333px Arial;
    width: 60px;
    margin-bottom: 5px;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
}
.editCalendarButton:hover{
    background-color: #39ac6b;
    cursor: pointer;
}