.userForm form > input{
    display: block;
    float: left;
    margin: 5px 5px 0 0;
}
form{
    margin-bottom: 5px;
}
.userForm{
    margin-left: auto;
    margin-right: auto;
    width: 180px;
}
.userForm p{
    text-align: center;
    margin-bottom: 1px;
}
.userForm hr{
    margin-top: 0;
    border: none;
    height: 1px;
    background-color: black;
}
.error{
    position: relative;
}
.tooltip{
    color: firebrick;
    position: absolute;
    bottom: -3px;
    left: 190px;
    background-color: grey;
    text-align: center;
    width: 400px;
    padding: 5px;
    border-radius: 5px;
}
.error .tooltip::after{
    content: "";
    position: absolute;
    right: 100%;
    top: 35%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent grey transparent transparent;
}