@keyframes blink {
    0% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,1);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,1);
        box-shadow: 0 0 15px 1px rgba(0,0,0,1);}
    10% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.9);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.9);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.9);}
    20% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.8);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.8);}
    30% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.7);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.7);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.7);}
    40% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);}
    50% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.5);}
    60% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);}
    70% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.3);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.3);}
    80% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.2);}
    90% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0.1);}
    100% {-webkit-box-shadow: 0 0 15px 1px rgba(0,0,0,0);
        -moz-box-shadow: 0 0 15px 1px rgba(0,0,0,0);
        box-shadow: 0 0 15px 1px rgba(0,0,0,0);}
}
#wsMessage{
    display: none;
    position: fixed;
    bottom: -160px;
    right: 10px;
    width: 220px;
    height: 160px;
    background-color: darkgray;
    border-radius: 5px;
    animation: blink 1s infinite;
}
#wsMessage:hover{
    animation: none;
}
#wsMessage p{
    margin-bottom: 0;
    margin-top: 5px;
}
#wsMessageDate, #wsMessageTime{
    margin-left: 10px;
}
#wsMessageTitle{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#wsMessageContent{
    text-align: center;
}
#goToNote{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
#goToNote:hover{
    color: #3377ff;
}
.bold{
    font-weight: bold;
}
.remindLaterButton{
    text-decoration: none;
    color: white;
    background-color: #707070;
    padding: 5px;
    border-radius: 5px;
    border: none;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.remindLaterButton:hover{
    background-color: gray;
    cursor: pointer;
}